.container {
	@apply flex mb-14;
}

.icon {
	width: 64px;
	height: 64px;
	margin-right: 24px;
	border-radius: 16px;
	background-color: #edecf5;
	@apply flex justify-center items-center;
}

.label {
	color: #182135;
	@apply uppercase tracking-wider;
	@apply text-xs font-bold text-gray-800;
}

.input {
	color: #626264;
	@apply w-full py-3 border-b text-xl;
	@apply focus:border-indigo-500 focus:outline-none;
}
