.sidebar {
	max-height: 1024px;
	background-color: #f7f7f7;
	max-width: 112px;
	@apply w-full flex flex-col rounded-3xl;
}

@media screen(lg) {
	.sidebar {
		width: 100%;
		max-width: 304px;
	}
}

.header {
	padding-top: 32px;
	padding-bottom: 48.02px;
	padding-left: 32px;
	padding-right: 32px;
	display: flex;
	align-items: center;
}

.header h3 {
	padding-left: 8px;
	font-size: 1.125rem;
	line-height: 1.5rem;
	font-weight: 700;
	color: #000000;
	@apply hidden lg:block;
}

.menu {
	flex-grow: 1;
	padding: 0 28px;
}

.menu li {
	height: 3.5rem;
	border-radius: 0.75rem;
}

.menu a {
	display: flex;
	padding: 1rem;
	@apply font-bold text-base;
}

.menu svg {
	@apply lg:mr-6;
}

.menu span {
	@apply hidden lg:block;
}

.menu li:hover {
	background-color: #503e9d;
}

.active {
	background-color: #503e9d;
}

.active a,
.menu li:hover a {
	color: #f7fafc;
}

.footer {
	padding: 2rem;
}
