.thumb {
	border-radius: 1rem;
	overflow: hidden;
	display: flex;
	margin-bottom: 1rem;
}

.header {
	display: flex;
}

.header h3 {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 700;
	flex: 1;
}

.header span {
	font-size: 0.6875rem;
	line-height: 1rem;
	font-weight: 600;
	color: #503e9d;
	background-color: #edecf5;
	padding: 4px 8px;
	border-radius: 4px;
}
