.navbar {
	display: flex;
	margin-bottom: 3rem;
	justify-content: space-between;
}

.navbar .nav,
.navbar .navButtons {
	gap: 1.75rem;
}

.navbar ul:last-child {
	gap: 1rem;
}

.navbar .nav {
	@apply hidden lg:flex;
}

.navbar .navButtons {
	@apply flex;
}

.navbar li {
	display: flex;
	align-items: center;
}

.nav a {
	display: flex;
	align-items: center;
}

.nav svg:first-child {
	margin-right: 0.75rem;
}

.nav svg:last-child {
	margin-left: 0.6875rem;
}

.filterButton,
.shoppingCartButton {
	width: 3rem;
	height: 3rem;
	border-radius: 0.625rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.filterButton {
	background-color: #503e9d;
}

.shoppingCartButton {
	background-color: #fb6d3a;
}
