.header {
	display: flex;
	justify-content: space-between;
	margin-bottom: 1.5rem;
}

.header h1 {
	font-size: 2rem;
	line-height: 2.5rem;
	font-weight: 700;
	margin-bottom: 12px;
}

.header p {
	font-size: 1rem;
	line-height: 1.5rem;
	color: #626264;
}

.details {
	max-width: 577px;
}

.tags span {
  display: inline-flex;
  line-height: 1.5rem;
  margin-right: 1rem;
  padding: 0.5rem 0.75rem;
  border-radius: 8px;
  font-size: 1rem;
  color: #182135;
  background-color: #F7F7F7;
  font-weight: 600;
}
