.information {
	display: flex;
	font-weight: 400;
	font-size: 0.75rem;
	color: #626264;
	margin-left: 0.9375rem;
}

.information svg {
	margin-right: 0.5rem;
}

.information:first-child {
	margin-left: 0rem;
}

.information span {
	font-weight: 600;
	margin-right: 0.3125rem;
	color: #182135;
}
