.restaurant {
	@apply flex w-full;
}

@media screen(md) {
	.restaurant {
		max-width: 21.25rem;
	}
}

.brand {
	background-color: #f7f7f7;
	border-radius: 0.75rem;
	height: 6rem;
	width: 6rem;
	margin-right: 1.5rem;
	display: flex;
	align-items: center;
	justify-content: center;
}

.information {
	display: flex;
	flex-direction: column;
}

.information div {
	display: flex;
	align-items: center;
}

.information div svg {
	margin-right: 0.5rem;
}

.information div div {
	text-align: left;
	margin-left: 1rem;
	font-size: 0.75rem;
	line-height: 1rem;
	color: #626264;
}

.information div div:first-child {
	margin-left: 0rem;
}

.information span {
	font-weight: 700;
	margin-right: 0.3125rem;
	color: #182135;
}

.information h3 {
	font-size: 1rem;
	line-height: 1.5rem;
	font-weight: 700;
}
