@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
	h1,
	h2,
	h3 {
		color: #182135;
	}

	h3 a {
		color: #182135;
	}

	p,
	a {
		color: #626264;
	}

	.tag-purple {
		background-color: rgb(80, 62, 157, 0.1);
		color: #503e9d;
	}

	.tag-orange {
		background-color: rgb(251, 109, 58, 0.1);
		color: #fb6d3a;
	}

	.tag-gray {
		background-color: #f7f7f7;
		color: #182135;
	}
}
